*{
    padding: 0;
    margin: 0;
    font-family: 'Cabin', sans-serif !important;
    font-family: 'Lobster', cursive;
}

/*header*/

.my-logo {
    width: 50px;
}

.logotext {
    color: white !important;
}

nav {
    background: transparent !important;
}

/*section.fondo*/

.fondo {
    background-color: black;
}
.avioncito {
    background-color: #0DCAF0;
    text-align: center;
    height: 40px;
}

.avioncito img {
    padding-top: 5px;
    width: 30px;
}

/* section.tarjetas*/

.tarjetas{
    background-color: black;
}

.card {
    background-color: #0DCAF0;
    color: white;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.card img {
    height: 200px;
}

.card-body {
    padding-bottom: 5px;
    height: 200px;
}

p {
    color: white;
    margin: 0;
    padding-top: 15px;
}

/*form de contacto*/

.contacto {
    background-color: black;
}

/*footer*/

footer{
    color: white;
    padding-top: 30px;
    background-color: #0DCAF0;
    height: 100px;
}

footer img {
    width: 40px;
    margin-left: 10px;
}
